{% extends "layout.html" %}

{% block content %}

  <img src="{{ thumbnail }}" alt="Video Thumbnail">
  <div>
    Channel Name:
    <pre>{{ channel }}</pre>
  </div>

  <form method="post" onsubmit="preprocessForm(this)">
    {{ form.hidden_tag() }}
    <div>
      When applicable, format proper names as "family name, given name":
      {{ form.artist() }}
      <button onclick="addArtistField(this)">+</button>
      {% if form.artist.errors %}
        {{ form.artist.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.title.label() }}
      {{ form.title() }}
      <button onclick="formClear('title')">x</button>
      {% if form.title.errors %}
        {{ form.title.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.album.label() }}
      {{ form.album() }}
      <button onclick="formClear('album')">x</button>
      {% if form.album.errors %}
        {{ form.album.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.genre.label() }}
      {{ form.genre() }}
      <button onclick="formClear('genre')">x</button>
      {% if form.genre.errors %}
        {{ form.genre.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.language.label() }}
      {{ form.language() }}
      <button onclick="formClear('language')">x</button>
      {% if form.language.errors %}
        {{ form.language.errors }}
      {% endif %}
    </div>
    {{ form.submit() }}
  </form>

  <script>
    function formClear(id) {
      event.preventDefault();
      document.getElementById(id).value = '';
    }
  </script>

  <script>
    function addArtistField(button) {
      event.preventDefault();

      let index = 0;
      button.parentElement.querySelectorAll('ul li input').forEach((item) => {
        index = Math.max(index, parseInt(item.name.split('-')[1]) + 1);
      });

      let node = document.createElement('li');
      node.innerHTML =
        '<label for="artist-' + index + '">Artist</label> ' +
        '<input id="artist-' + index + '" name="artist-' + index + '" required type="text">';
      button.parentElement.querySelector('ul').appendChild(node);
    }
  </script>

  <script>
    function preprocessForm(form) {
      form.querySelectorAll('input[type=text]').forEach((item) => {
        item.value = item.value.trim();
      });
    }
  </script>

{% endblock content %}
