{% extends "layout.html" %}

{% block content %}

  <img src="{{ thumbnail }}" alt="Video Thumbnail">
  <div>
    Channel Name:
    <pre>{{ channel }}</pre>
  </div>

  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.artist.label() }}
      {{ form.artist() }}
      <button onclick="formClear('artist')">x</button>
      {% if form.artist.errors %}
        {{ form.artist.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.title.label() }}
      {{ form.title() }}
      <button onclick="formClear('title')">x</button>
      {% if form.title.errors %}
        {{ form.title.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.album.label() }}
      {{ form.album() }}
      <button onclick="formClear('album')">x</button>
      {% if form.album.errors %}
        {{ form.album.errors }}
      {% endif %}
    </div>
    <div>
      {{ form.genre.label() }}
      {{ form.genre() }}
      <button onclick="formClear('genre')">x</button>
      {% if form.genre.errors %}
        {{ form.genre.errors }}
      {% endif %}
    </div>
    {{ form.submit() }}
  </form>

  <script>
    function formClear(id) {
      event.preventDefault();
      document.getElementById(id).value = '';
    }
  </script>

{% endblock content %}
